:root {

  @media (prefers-color-scheme: dark) {
    --accent: #c0a8ff;
    --accent-alpha-70: #c0a8ffc0;
    --accent-alpha-50: #c0a8ff80;
    --accent-alpha-20: #c0a8ff40;

    div.logo {
      color: black;
    }
  
    --background: #201828;
    --color: #e8e8e8;
    --border-color: rgba(255,240,224,.125);

    h1, h2, h3, h4, h5, h6, h1.post-title {
      text-shadow: 0px -2px 1px var(--accent-alpha-20);
    }
  
  }
  @media (prefers-color-scheme: light) {
    --accent: #7010d0;
    --accent-alpha-70: #7010d0c0;
    --accent-alpha-50: #7010d080;
    --accent-alpha-20: #7010d040;

    div.logo {
      color: white;
      font-weight: bold;
    }
  
    --background: #FDFEFF;
    --color: #201020; 
    --border-color: rgba(0,0,16,.125);

    h1, h2, h3, h4, h5, h6, h1.post-title {
      text-shadow: 0px -2px 1px var(--accent-alpha-20);
    }
  }
  
  div.logo {
    border-radius: 16px 4px 16px 4px;
    text-shadow: 0 1px 2px var(--color);
  }

  div.logo:hover {
    background-color: var(--color);
    transition: 0.5s;
  }

  a {
    color: var(--accent);
  }

  a:hover {
    color: var(--color);
  }

  button {
    background-color: var(--accent);
    font-weight: bold;
    border-radius: 32px;
    border: 2px solid var(--color);
  }

  blockquote {
    border-left: 2px solid var(--accent-alpha-20);
    border-radius: 4px;
  }
}
