:root {
  @media (prefers-color-scheme: dark) {
    --accent: oklch(80% 0.4 90);
    --accent-alpha-70: oklch(80% 0.4 90 / .70);
    --accent-alpha-20: oklch(80% 0.4 90 / .20);

    div.logo {
      color: black;
    }
  
    --background: oklch(0.125 0.0625 210);
    --color: #f0f0f0;
    --border-color: rgba(255,240,224,.125);
  
  }
  @media (prefers-color-scheme: light) {

    --accent: oklch(0.675 0.375 90);
    --accent-alpha-70: oklch(0.675 0.375 90 / .70);
    --accent-alpha-20: oklch(0.675 0.375 90 / .20);

    div.logo {
      color: white;
      font-weight: bold;
    }
  
    --background: oklch(0.99 0.002 240);
    --color: #201030; 
    --border-color: rgba(0,0,16,.125);
  }

  div.logo:hover {
    text-shadow: 0 0 4px white;
  }

  a:hover {
    color: oklch(0.675 0.5 90);
    text-shadow: 0 0 4px oklch(0.875 0.5 60 / 0.25);
  }

  h1, h2, h3, h4, h5, h6, h1.post-title {
    text-shadow: 1px 2px 0px var(--accent-alpha-20);
  }
}
