:root {

  @media (prefers-color-scheme: dark) {
    --accent: #c0a8ff;
    --accent-alpha-70: #c0a8ffc0;
    --accent-alpha-50: #c0a8ff80;
    --accent-alpha-20: #c0a8ff40;

    div.logo {
      color: black;
    }
  
    --background: #201828;
    --color: #e8e8e8;
    --border-color: rgba(255,240,224,.125);
  
  }
  @media (prefers-color-scheme: light) {
    --accent: #7010d0;
    --accent-alpha-70: #7010d0c0;
    --accent-alpha-50: #7010d080;
    --accent-alpha-20: #7010d040;

    div.logo {
      color: white;
      font-weight: bold;
    }
  
    --background: #FDFEFF;
    --color: #201020; 
    --border-color: rgba(0,0,16,.125);

  }
  
  div.logo { border-radius: 6px; }

  div.logo:hover {
    background-color: var(--color);
    transition: 0.125s;
  }

  a {
    color: var(--accent);
  }

  a:hover {
    color: var(--color);
  }

  button {
    background-color: var(--accent);
    font-weight: bold;
    border-radius: 32px;
    border: 2px solid var(--color);
  }

  blockquote {
    border-left: 2px solid var(--accent-alpha-20);
    border-radius: 4px;
  }
}
